html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.footer[b-0r9p5kve3f] {
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
