@model ForgetPasswordViewModel
@{
    //ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="wrapper">
    <div class="title">
        ForgetPassword
    </div>
    <form asp-action="ForgetPassword" method="post">
        <div asp-validation-summary="All"></div>
        <div class="field">
    <input type="email" asp-for="Email" required="">
            <label>Email Address</label>
        </div>
        <div class="field">
    <input type="submit" value="ForgetPassword">
        </div>
    </form>
</div>

