
@{
    ViewData["Title"] = "ResetPasswordDone";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>ResetPasswordDone Form</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="title">
            ResetPasswordDone
        </div>
            
        <div class="body"> 
            Your Password Was Reseted Successfully
            </div>
        <div>
            <a asp-action="Login" asp-controller="Account">Login </a>
        </div>
    </div>
</body>
</html>
