@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>ResetPassword Form</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="title">
            ResetPassword
        </div>
        <form asp-controller="Account" asp-action="ResetPassword" method="post">
            <div asp-validation-summary="All"> </div>
            <input  asp-for="Email" hidden />
            <input asp-for="Token" hidden /> @*type="hidden" if not hidden*@
            <div class="field">
                <input type="password" asp-for="NewPassword" placeholder="New Password" required="">
                <label>Password</label>
            </div>
            <div class="field">
                <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
                <label>Confirm Password</label>
            </div>
            <div class="field">
                <input type="submit" value="Reset Password">
            </div>
        </form>
    </div>
</body>
</html>



