@using DemoEFApp.Models

@model List<Teacher>

<a class="btn btn-primary" asp-area="" asp-controller="Teacher" asp-action="Create">Add New Teacher</a> <br />
<table>
    <tr>
        <th>
            Teacher Name
        </th>
        <th>
            Teacher Age
        </th>
        <th>
            Delete
        </th>
    </tr>
    @foreach (Teacher teacher in Model)
    {
        <tr>
            <td>
                @teacher.TeacherName
            </td>
            <td>
                @teacher.TeacherAge
            </td>
            <td>
                <a href="/Teacher/Delete/@teacher.TeacherId"> Delete @teacher.TeacherName </a>
            </td>
        </tr>
    }


</table>